.containerButton {
    width: 153px;
    height: 158px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
}

.containerButton button {
    font-size: 16px;

    color: var(--Color-grey-2);

    background-color: #ffffff;

    border: solid 1px var(--Color-grey-2);

    width: 32px;
    height: 32px;
}

.containerButton button:active {
    color: var(--Color-grey-1);

    border: solid 1px var(--Color-primary);
}

.containerButton button:hover {
    color: var(--Color-grey-1);

    border: solid 1px var(--Color-primary);
}