.main {
    width: 100%;

    margin-top: 30px;
    margin-bottom: 40px;

    padding-top: 60px;

    /* position: relative; */
}

.containerTitle {
    display: none;  
}

.title {
    font-size: 32px;

    color: #333333;

    text-align: center;

    margin-bottom: 20px;
}

.divMobile {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.styleButtons {
    /* height: 49px; */
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.styleButtons button{
    /* min-width: 150px; */
    width: 170px;

    height: 49px;

    /* height: 100%; */

    font-size: 24px;

    color: var(--Color-grey-3);

    background-color: white;
    border: var(--Color-grey-3) solid 1px;

    cursor: pointer;
}

.mainContent {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
}

.containerFilters {
    display: none;
}

@media (min-width: 1250px) {
    .divMobile {
        display: none;

    }
    
    .containerTitle {
        display: block;          
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 1060px;
    }

    .containerFilters {
        display: block;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}