.checkbox[type=checkbox] {
  cursor: pointer;
  position: relative;
}

.checkbox[type=checkbox]:before {
  content: "";

  display: block;

  width: 16px;
  height: 16px;
  
  position: absolute;
  top: 0;
  left: 0;

  background-color: #ffffff;

  border: solid 1px var(--Color-grey-2);
}
  
.checkbox[type=checkbox]:checked:after {
  content: "";

  display: block;

  width: 12px;
  height: 12px;

  background-color: var(--Color-primary);

  position: absolute;
  top: 2.5px;
  left: 3.5px; 
}

.label {
  padding-left: 10px;

  font-size: 14px;

  color: var(--Color-grey-1);
}